<form method="post" action="{{ path('app_energy_delete', {'id': energy.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ energy.id) }}">
    <button class="btn btn-outline-danger btn-sm">Supprimer</button>
</form>
