<form method="post" action="{{ path('app_car_delete', {'id': car.id}) }}"
      onsubmit="return confirm('Etes-vous sûr de vouloir désactiver cette annonce ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ car.id) }}">
    <button class="btn btn-outline-danger btn-sm">Désactiver</button>
</form>
